body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  padding: 20px;
}


/* Container Styles */
.container {
  width: 100%;
  margin: 0 auto;
}

/* Heading Styles */
h1 {
  text-align: center;
  color: #ffffff;
}
/* CSS for a simple grid layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px; /* Adds some gap between the grid items */
}

/* Form Styles */
form {
  background-color: #0000;
  padding: 20px;
  border-radius: 8px;
}

/* Label Styles */
label {
  display: block;
  margin: 10px 0;
}

/* Text Input Styles */
input[type="text"] {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
}

/* Date Input Styles */
input[type="date"] {
  width: 30%;
  padding: 5px;
  margin-bottom: 10px;
}

/* Checkbox Styles */
input[type="checkbox"] {
  margin-right: 10px;
}

/* Submit Button Styles */
input[type="submit"] {
  display: block;
  width: 100px;
  height: 40px;
  /* Adjust margin to position at the bottom right */
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  /* Add right alignment */
  float: right;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Fieldset Styles */
fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
}

/* Legend Styles */
legend {
  color: #f1f1f6;
}
